h4{
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 24px;
}

input .sea{
    
   
   font-size: 20px;
   box-sizing: border-box;
  

}
input[type="search"]{
    background: whitesmoke;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
 #se{
    
    border-radius: 0 25px 25px 0;
    left: -5px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: green;
    color: white;
}
 #se:hover{
 background: greenyellow;
}